<a href="https://colab.research.google.com/github/Diego-1099/Colabfiles/blob/main/Pr%C3%A1ctica_PySpark_%2B_MongoDB_Sample_Suplies_Database.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
# ==============================================================================

# Práctica: PySpark + MongoDB - Sample_Suplies Database

# ==============================================================================

!pip install -q pymongo

from pymongo import MongoClient
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
import json

mongo_uri = "mongodb+srv://user_255807:255807@cluster0.30kne6k.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
client = MongoClient(mongo_uri)

try:
    db = client["sample_supplies"]
    collection = db["sales"]
    print("\n","="*80, "\n")
    print("☑️ Conexión exitosa con MongoDB Atlas.")
except Exception as e:
    print("Error al conectar con MongoDB Atlas:")
    print(e)

docs = list(collection.find({}))

def bson_to_json(doc):
    def convert(v):
        if isinstance(v, dict):
            return {k: convert(x) for k, x in v.items()}
        elif isinstance(v, list):
            return [convert(x) for x in v]
        else:
            return str(v)
    return convert(doc)

docs_clean = [bson_to_json(d) for d in docs]

spark = (SparkSession.builder.appName("MongoDB_Spark_Clean").getOrCreate())

df = spark.createDataFrame(docs_clean)

print("\n","="*80, "\n")

print("\n4.1) Schema")
df.printSchema()

print("\n4.2) Número de filas estimadas (Count)")
print(df.count())

print("\n4.3) Tipo de datos (df.dtypes)")
print(df.dtypes)

print("\n","="*80)

print("\n","="*80)

df.createOrReplaceTempView("sales_view")

print("\n5a) Total de documentos")
spark.sql("SELECT COUNT(*) AS total FROM sales_view").show()

print("\n5b) Agrupar por storelocation")
spark.sql("""
SELECT storelocation, COUNT(*) AS total
FROM sales_view
GROUP BY storelocation
ORDER BY total DESC
""").show(truncate = False)

print("\n5c) Clientes mayores de 42 años")
spark.sql("""
SELECT customer
FROM sales_view
WHERE CAST(customer['age'] AS INT) > 42
""").show(truncate = False)

print("\n5d) Min y Max de satisfacción")
spark.sql("""
SELECT MIN(CAST(customer['satisfaction'] AS INT)) AS min_satisfaction,
       MAX(CAST(customer['satisfaction'] AS INT)) AS max_satisfaction
FROM sales_view
""").show()

print("\n5e) Agrupar por purchaseMethod")
spark.sql("""
SELECT purchaseMethod, COUNT(*) AS total
FROM sales_view
GROUP BY purchaseMethod
ORDER BY total DESC
""").show(truncate = False)

print("\n","="*80)

 ================================================================================

☑️ Conexión exitosa con MongoDB Atlas.

 ================================================================================


4.1) Schema
root
 |-- _id: string (nullable = true)
 |-- couponUsed: string (nullable = true)
 |-- customer: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)
 |-- items: array (nullable = true)
 |    |-- element: map (containsNull = true)
 |    |    |-- key: string
 |    |    |-- value: string (valueContainsNull = true)
 |-- purchaseMethod: string (nullable = true)
 |-- saleDate: string (nullable = true)
 |-- storeLocation: string (nullable = true)


4.2) Número de filas estimadas (Count)
5000

4.3) Tipo de datos (df.dtypes)
[('_id', 'string'), ('couponUsed', 'string'), ('customer', 'map<string,string>'), ('items', 'array<map<string,string>>'), ('purchaseMethod', 'string'), ('saleDate', 'string'), ('storeLocation', 'string')]

 ================================================================================

 ================================================================================

5a) Total de documentos
+-----+
|total|
+-----+
| 5000|
+-----+


5b) Agrupar por storelocation
+-------------+-----+
|storelocation|total|
+-------------+-----+
|Denver       |1549 |
|Seattle      |1134 |
|London       |794  |
|Austin       |676  |
|New York     |501  |
|San Diego    |346  |
+-------------+-----+


5c) Clientes mayores de 42 años
+------------------------------------------------------------------------+
|customer                                                                |
+------------------------------------------------------------------------+
|{gender -> M, satisfaction -> 5, email -> keecade@hem.uy, age -> 50}    |
|{gender -> M, satisfaction -> 5, email -> worbiduh@vowbu.cg, age -> 51} |
|{gender -> F, satisfaction -> 3, email -> vatires@ta.pe, age -> 45}     |
|{gender -> M, satisfaction -> 2, email -> owtar@pu.cd, age -> 44}       |
|{gender -> M, satisfaction -> 3, email -> man@bob.mz, age -> 71}        |
|{gender -> M, satisfaction -> 3, email -> ohaguwu@nufub.gi, age -> 57}  |
|{gender -> F, satisfaction -> 3, email -> merto@betosiv.pm, age -> 49}  |
|{gender -> F, satisfaction -> 4, email -> la@cevam.tj, age -> 59}       |
|{gender -> M, satisfaction -> 2, email -> eja@ko.es, age -> 55}         |
|{gender -> F, satisfaction -> 4, email -> se@nacwev.an, age -> 53}      |
|{gender -> F, satisfaction -> 5, email -> velo@nukav.fr, age -> 50}     |
|{gender -> M, satisfaction -> 1, email -> ucikosusu@sid.uz, age -> 61}  |
|{gender -> M, satisfaction -> 5, email -> jalpo@ha.mq, age -> 58}       |
|{gender -> M, satisfaction -> 3, email -> avwa@ud.pt, age -> 48}        |
|{gender -> F, satisfaction -> 4, email -> jorcol@ir.se, age -> 48}      |
|{gender -> F, satisfaction -> 4, email -> wuulabeb@patsef.vu, age -> 70}|
|{gender -> M, satisfaction -> 4, email -> me@lih.st, age -> 49}         |
|{gender -> M, satisfaction -> 5, email -> du@il.ug, age -> 60}          |
|{gender -> M, satisfaction -> 1, email -> kege@nibomjo.gq, age -> 60}   |
|{gender -> F, satisfaction -> 5, email -> civma@rozfon.tr, age -> 54}   |
+------------------------------------------------------------------------+
only showing top 20 rows


5d) Min y Max de satisfacción
+----------------+----------------+
|min_satisfaction|max_satisfaction|
+----------------+----------------+
|               1|               5|
+----------------+----------------+


5e) Agrupar por purchaseMethod
+--------------+-----+
|purchaseMethod|total|
+--------------+-----+
|In store      |2819 |
|Online        |1585 |
|Phone         |596  |
+--------------+-----+


 ================================================================================