<a href="https://colab.research.google.com/github/Diego-1099/Colabfiles/blob/main/Pr%C3%A1ctica__14__Limpieza_y_Transformaci%C3%B3n_de_Datos_Categ%C3%B3ricos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# ***Ejercicio 01: Errores Tipográficos y Valores Inconsistentes: maritalstatus***

1. Imprime de la columna 'maritalstatus' los valores unicos.
2. Imprime la frecuencia de cada valor único.
3. Cambia el valor 'Never-Married' a 'Single'.
4. Imprime la frecuencia de cada valor único.

In [ ]:
import pandas as pd
import numpy as np


df = pd.read_csv('/content/drive/MyDrive/Unidad02/nls97.csv')


print("Valores únicos de 'maritalstatus':")
print(df['maritalstatus'].unique())

print("\nFrecuencia de cada valor único en 'maritalstatus':")
print(df['maritalstatus'].value_counts())

print('--------------------------------------------------')

df['maritalstatus'] = df['maritalstatus'].replace('Never-married', 'Single')

print("\nValores únicos de 'maritalstatus' después de la modificación:")
print(df['maritalstatus'].value_counts())

# ***Ejercicio 2: Errores Tipográficos y Valores Inconsistentes: highestdegree.***

1. Imprime de la columna 'highestdegree' los valores únicos.
2. Imprime la frecuencia de cada valor único.
3. Observa que cada valor categórico empieza con 0. Modifica las categorías para que todas estén en minúsculas y ninguna empiece con un número. Por ejemplo, si dice '2. High School', debería ser 'high school'.
4. Los cambios se realizarán en la misma columna 'highestdegrees'.
5. Imprime los nuevos valores únicos.

In [ ]:
print("Valores únicos de 'highestdegree':")
print(df['highestdegree'].unique())

print("\nFrecuencia de cada valor único en 'highestdegree':")
print(df['highestdegree'].value_counts())

print('--------------------------------------------------')

df['highestdegree'] = df['highestdegree'].str.replace('\d+\. ', '', regex = True).str.lower()

print("\nValores únicos de 'highestdegree' después de la modificación:")

print(df['highestdegree'].unique())
print('--------------------------------------------------')

# ***Ejercicio 3: Alta Cardinalidad - Frecuencias Bajas***



*   De la columna 'maritalstatus' une las categorías 'Widowed' y 'Single' en una categoría más general llamada 'Single/No Partner'. Crea una nueva columna, 'marital_grouped' donde aparezcan las nuevas categorías de maritalstatus.
*   Imprime los valores únicos de la nueva columna 'marital_grouped'.
*   Imprime la frecuencia de los valores únicos de la nueva columna 'marital_groyped'.

In [ ]:
df['marital_grouped'] = df['maritalstatus'].replace({'Widowed' : 'Single/No Partner', 'Single': 'Single/No Partner'})

print("Valores únicos de 'marital_grouped':")
print('\n', df['marital_grouped'].unique())

print("\nFrecuencia de cada valor único en 'marital_grouped':")
print('\n', df['marital_grouped'].value_counts())

print('--------------------------------------------------')

# ***Ejercicio 4: Tipos de Datos***



*   Imprime los tipos de datos de la columna gender.
*   Imprime la cantidad de bytes de dicha columna.
*   Si la columna es de tipo object, modifica a category.
*   En caso de haber realizado la modificación del tipo de datos, imprime la cantidad de bytes que ocupa dicha columna con el nuevo tipo de datos.

In [ ]:
print("Tipo de datos de la columna 'gender':")
print(df['gender'].dtype)

print("\nCantidad de bytes de la columna 'gender':")
print(df['gender'].memory_usage(deep = True))

print('--------------------------------------------------')

if df['gender'].dtype == 'object':
  df['gender'] = df['gender'].astype('category')
  print("\nNuevo Tipo de datos de la columna 'gender':")
  print(df['gender'].dtype)

  print("\nCantidad de bytes de la columna 'gender' con el nuevo tipo de datos:")
  print(df['gender'].memory_usage(deep = True))